#root {
  margin: 0;
  padding: 0;

  --primary-color: #F25019; /* Primary color */
  --secondary-color: #FEDDC6; /* Secondary color */
  --accent-color: #657786; /* Accent color */
}

body {
  background-color: #FEDCC5;

}

* {
  font-family: 'Kanit';
  color: #333333;
}

.active {
  color:darkgrey;
}

.landing-h1 {
  font-family: "Abril Fatface", serif;
  line-height: 54px;
  font-size: 36px;
}

/* From Uiverse.io by ArturCodeCraft */
/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.menu__link {
  color: #fff;
  line-height: 1.5;
  position: relative;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -.25rem;
  left: 0;
  transition: width .4s;
}

.menu__link:hover::before {
  width: 100%;
}
